.form-control{
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #CCCCCC;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
    border-bottom: 3px solid #AFACA0;
    color: #CCCCCC;
    width:100%px;
}

.img-thumbnail{
    border-style: none
}

.loupe{
    background-color: transparent;
    border-style: none;
    padding-right: 10%
    
}

.ima{
    width: 40px;
	height: 40px;
}

