<app-nav-bar></app-nav-bar>


<div class = "row">

  <div class = "col-md-1"></div>
  <div class = "col-md-1">
      <div class = "img"> <img src="../../assets/img/loupe.png" > </div>
  </div>

  <div class = "col-md-6">
    <div class = "Profil">
      <div class = "title"> John Doe </div>
      <div class = "mail" >thisisJohn.quand.fr </div>
      <div class = "description"> Chercher en urbaniste, auteur du livre "Design et ville" </div>
      <div class = "acces"> <a href=""> Demander l'acces aux ressources </a> </div>
    </div>
  </div>  
  
</div>


<div class="page">

<div class="row">
    <div class= "col-md-2"></div> 
    <div class="col-md-7">
        <app-search-bar> </app-search-bar>
      <h4><nav class="nav">
        <a class="nav-link active">Tout</a>
        <a class="nav-link">Documents</a>
        <a class="nav-link">Contacts</a>
        <a class="nav-link disabled">Reseaux</a>
        <a class="nav-link disabled">Liens</a>
      </nav></h4>
  
      <div class="result">
        <div class="title">Le design nemo totam reiciendis</div>
        <div class="contenu">
        Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, irca hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto
        </div>
          <div class="row">
            <div class="col-md-1"> 
              <img src="../../assets/img/loupe.png" >
            </div>
            <div class="col-md-6">
              <div class="profil">Mediatheque de la cité </div>
              <a href=""> Demander l'acces aux ressources </a>
            </div>
          </div>
      </div>
  
      <div class="result">
          <div class="title">Le design nemo totam reiciendis</div>
          <div class="contenu">
          Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, irca hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto
          </div>
            <div class="row">
              <div class="col-md-1"> 
                <img src="../../assets/img/loupe.png" >
              </div>
              <div class="col-md-6">
                <div class="profil">Mediatheque de la cité </div>
                <a href=""> Demander l'acces aux ressources </a>
              </div>
            </div>
        </div>
  
        <div class="result">
            <div class="title">Le design nemo totam reiciendis</div>
            <div class="contenu">
            Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, irca hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto
            </div>
      
              <div class="row">
                <div class="col-md-1"> 
                  <img src="../../assets/img/loupe.png" >
                </div>
                <div class="col-md-6">
                  <div class="profil">Mediatheque de la cité </div>
                  <a href=""> Demander l'acces aux ressources </a>
                </div>
              </div>
          </div>
      
  
  
  
    </div>
  </div>