<app-nav-bar></app-nav-bar>
<app-users> </app-users>
<div class="page">
  <div class="row">
    <div class= "col-md-2"></div> 
    <div class="col-md-6">
      <div class="search"><app-search-bar> </app-search-bar></div>
      <h4><nav class="nav">
        <a class="nav-link active">Tout</a>
        <a class="nav-link">Documents</a>
        <a class="nav-link">Contacts</a>
        <a class="nav-link disabled">Reseaux</a>
        <a class="nav-link disabled">Liens</a>
      </nav></h4>
      <app-files></app-files>
      <app-files></app-files>
      <app-files></app-files>
    </div>
  </div>
</div>