<app-nav-bar></app-nav-bar>

<div class = "row">

  <div class = "col-md-1"></div>
  <div class = "col-md-1">
      <div class = "img"> <img src="../../assets/img/loupe.png" > </div>
  </div>

  <div class = "col-md-6">
    <div class = "Profil">
      <div class = "title"> John Doe </div>
      <div class = "mail" >thisisJohn.quean.fr </div>
      <div class = "description"> Chercher en urbaniste, auteur du livre "Design et ville" </div>
      <div class = "acces"> <a  style="border: 2px blue solid" href=""> Demander l'acces aux ressources </a> </div>
    </div>
  </div>  
  
</div>

<div class="page">

  <div class="row">
    <div class= "col-md-2"></div> 
    <div class="col-md-6">
      <div class="search"><app-search-bar> </app-search-bar></div>
      <h4><nav class="nav">
        <a class="nav-link active">Tout</a>
        <a class="nav-link">Documents</a>
        <a class="nav-link">Contacts</a>
        <a class="nav-link disabled">Reseaux</a>
        <a class="nav-link disabled">Liens</a>
      </nav></h4>
  
      <app-files></app-files>

      <app-files></app-files>
      <app-files></app-files>

    </div>
  </div>