.imageProfil{
  padding-top: 50%
}

.profil{
  padding-left: 4px;
  padding-top: 4px;
  color: #817F74;
  font-size: 15
}

.profil .title{
  font-size: 45;
  color: black
}

.profil .mail{
  color: blue;
  font-size: 17
}

.profil .description{
  font-size: 15
}
