<div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-1">
      <div class = "imageProfil"> <img src="../../assets/img/loupe.png" > </div>
    </div>
    <div class = "col-md-8">
      <div class = "Profil">
      <div class = "title"> John Doe </div>
      <div class = "mail" >thisisJohn.quean.fr </div>
      <div class = "description"> Chercher en urbaniste, auteur du livre "Design et ville" </div>
      <div class = "acces">PAR DEFAUT MES RESSOURCES SONT ACCESSIBLES A : TOUT LE MONDE
        <div class="btn-group"> 
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="../../assets/img/down-arrow.png" width="20" height="20"> 
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >TOUT LE MONDE</a> <li> </li>
            <a class="dropdown-item" >MOI UNIQUEMENT</a> <li> </li>
            <a class="dropdown-item" >CERTAIN CONTACT</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>