<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="row">
        <div class="col-sm-8">
          <app-search-bar></app-search-bar>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#Connection"><h4>Se Connecter</h4></button>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Inscription"><h4>Créer mon Quean</h4></button>
        </div>
      </div>
    </div>
  </div>
</nav>