<div class="result">
  <div class="title">Le design nemo totam reiciendis</div>
  <div class="contenu">
  Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, irca hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto
  </div>
    <div class="row">
      <div class="col-md-1"> 
        <img src="../../assets/img/loupe.png" >
      </div>
      <div class="col-md-6">
        <div class="profil">Mediatheque de la cité </div>
        <a > Demander l'acces aux ressources </a>
      </div>
    </div>
</div>