<div class="files">
  <div class="title"><h4>Le design nemo totam reiciendis</h4></div>
  <div class="contenu">
  Circa hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto, irca hos dies Lollianus primae lanuginis adulescens, Lampadi filius ex praefecto
  </div>
    <div class="row">
      <div class="col-md-1"> 
        <img src="../../assets/img/loupe.png" >
      </div>
      <div class="col-md-6">
        <div class="author">Mediatheque de la cité </div>
        <a > Demander l'acces aux ressources </a>
      </div>
    </div>
</div>